[Unit]
Description= RMS client for remote beaglebone

[Service]
Type=simple
Restart=always
Restartsec=30
User=root
ExecStart=/usr/local/bin/rmsclient
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=yes

[Install]
WantedBy=multi-user.target


